WoPeD-QualAnalysis/src/org/woped/qualanalysis/paraphrasing/webservice/ProcessToTextWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice.paraphrasing.qualanalysis.woped.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://webservice.paraphrasing.qualanalysis.woped.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice.paraphrasing.qualanalysis.woped.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.paraphrasing.qualanalysis.woped.org/xsd">
            <xs:complexType name="Exception_Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faultInfo" nillable="true" type="ax21:Exception"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://webservice.paraphrasing.qualanalysis.woped.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.paraphrasing.qualanalysis.woped.org">
            <xs:import namespace="http://webservice.paraphrasing.qualanalysis.woped.org/xsd"/>
            <xs:element name="ProcessToTextWebServiceException_Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception_Exception" nillable="true" type="ax22:Exception_Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateTextFromProcessSpecification">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateTextFromProcessSpecificationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="generateTextFromProcessSpecificationRequest">
        <wsdl:part name="parameters" element="ns:generateTextFromProcessSpecification"/>
    </wsdl:message>
    <wsdl:message name="generateTextFromProcessSpecificationResponse">
        <wsdl:part name="parameters" element="ns:generateTextFromProcessSpecificationResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessToTextWebServiceException_Exception">
        <wsdl:part name="parameters" element="ns:ProcessToTextWebServiceException_Exception"/>
    </wsdl:message>
    <wsdl:portType name="ProcessToTextWebServicePortType">
        <wsdl:operation name="generateTextFromProcessSpecification">
            <wsdl:input message="ns:generateTextFromProcessSpecificationRequest" wsaw:Action="urn:generateTextFromProcessSpecification"/>
            <wsdl:output message="ns:generateTextFromProcessSpecificationResponse" wsaw:Action="urn:generateTextFromProcessSpecificationResponse"/>
            <wsdl:fault message="ns:ProcessToTextWebServiceException_Exception" name="ProcessToTextWebServiceException_Exception" wsaw:Action="urn:generateTextFromProcessSpecificationProcessToTextWebServiceException_Exception"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProcessToTextWebServiceSoap11Binding" type="ns:ProcessToTextWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generateTextFromProcessSpecification">
            <soap:operation soapAction="urn:generateTextFromProcessSpecification" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProcessToTextWebServiceException_Exception">
                <soap:fault use="literal" name="ProcessToTextWebServiceException_Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProcessToTextWebServiceSoap12Binding" type="ns:ProcessToTextWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="generateTextFromProcessSpecification">
            <soap12:operation soapAction="urn:generateTextFromProcessSpecification" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProcessToTextWebServiceException_Exception">
                <soap12:fault use="literal" name="ProcessToTextWebServiceException_Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProcessToTextWebServiceHttpBinding" type="ns:ProcessToTextWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="generateTextFromProcessSpecification">
            <http:operation location="generateTextFromProcessSpecification"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="ProcessToTextWebServiceException_Exception"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProcessToTextWebService">
        <wsdl:port name="ProcessToTextWebServiceHttpSoap11Endpoint" binding="ns:ProcessToTextWebServiceSoap11Binding">
            <soap:address location="http://localhost:8080//services/org/woped/qualanalysis/paraphrasing/webservice/ProcessToTextWebService"/>
        </wsdl:port>
        <wsdl:port name="ProcessToTextWebServiceHttpSoap12Endpoint" binding="ns:ProcessToTextWebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080//services/org/woped/qualanalysis/paraphrasing/webservice/ProcessToTextWebService"/>
        </wsdl:port>
        <wsdl:port name="ProcessToTextWebServiceHttpEndpoint" binding="ns:ProcessToTextWebServiceHttpBinding">
            <http:address location="http://localhost:8080//services/org/woped/qualanalysis/paraphrasing/webservice/ProcessToTextWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
