WoPeD-Process2Text/web/META-INF/wsdl/ProcessToTextWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.processtotext"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.processtotext"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://ws.processtotext">
            <xs:element name="generateTextFromProcessSpecification">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="processSpecification" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateTextFromProcessSpecificationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="generateTextFromProcessSpecificationRequest">
        <part name="parameters" element="ns:generateTextFromProcessSpecification"/>
    </message>
    <message name="generateTextFromProcessSpecificationResponse">
        <part name="parameters" element="ns:generateTextFromProcessSpecificationResponse"/>
    </message>
    <portType name="ProcessToTextWebServicePortType">
        <operation name="generateTextFromProcessSpecification">
            <input message="ns:generateTextFromProcessSpecificationRequest"
                   wsaw:Action="urn:generateTextFromProcessSpecification"/>
            <output message="ns:generateTextFromProcessSpecificationResponse"
                    wsaw:Action="urn:generateTextFromProcessSpecificationResponse"/>
        </operation>
    </portType>
    <binding name="ProcessToTextWebServiceSoap11Binding" type="ns:ProcessToTextWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="generateTextFromProcessSpecification">
            <soap:operation soapAction="urn:generateTextFromProcessSpecification" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ProcessToTextWebServiceSoap12Binding" type="ns:ProcessToTextWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="generateTextFromProcessSpecification">
            <soap12:operation soapAction="urn:generateTextFromProcessSpecification" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ProcessToTextWebServiceHttpBinding" type="ns:ProcessToTextWebServicePortType">
        <http:binding verb="POST"/>
        <operation name="generateTextFromProcessSpecification">
            <http:operation location="generateTextFromProcessSpecification"/>
            <input>
                <mime:content type="application/xml" part="parameters"/>
            </input>
            <output>
                <mime:content type="application/xml" part="parameters"/>
            </output>
        </operation>
    </binding>
    <service name="ProcessToTextWebService">
        <port name="ProcessToTextWebServiceHttpSoap11Endpoint" binding="ns:ProcessToTextWebServiceSoap11Binding">
            <soap:address location="http://localhost:8080//services/processtotext/ws/ProcessToTextWebService"/>
        </port>
        <port name="ProcessToTextWebServiceHttpSoap12Endpoint" binding="ns:ProcessToTextWebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080//services/processtotext/ws/ProcessToTextWebService"/>
        </port>
        <port name="ProcessToTextWebServiceHttpEndpoint" binding="ns:ProcessToTextWebServiceHttpBinding">
            <http:address location="http://localhost:8080//services/processtotext/ws/ProcessToTextWebService"/>
        </port>
    </service>
</definitions>
